.text {
  font-size: 14px;
}
.avathar-img {
  padding: 5px;
  height: 160px;
  width: 160px;
}
.search-nav {
  width: 50px;
}
.last-container {
  height: 110vh;
}
.roundcheckbox {
  margin-top: 12px;
}
.card {
  border-radius: 4px;
}
.span {
  color: hsl(322, 96%, 56%);
}
.card:hover {
  border: 1px solid black;
}
.card-img {
  width: 60%;
}
.lineInput {
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  width: 320px;
  margin-bottom: 20px;
}
.img-button {
  color: black;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white;
  border-color: #bfbdbd;
  font-size: 10px;
  padding: 10px;
  border-radius: 8px;
}
.img-button:hover {
  border: 1px solid black;
}
.ava {
  font-size: 14px;
  font-weight: bold;
}
.blur-text {
  color: rgb(147, 141, 141);
  font-size: 14px;
}
.input {
  height: 50px;
  width: 170px;
}
.input3 {
  height: 40px;
  width: 100%;
}
.align {
  text-align: right;
}
.form-group {
  margin-bottom: 10px;
}
.form-container {
  height: 100vh;
  padding: 4px;
  margin-top: 28px;
}

.form-group label {
  display: block;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}
.wtext {
  font-size: 14px;
  margin-bottom: 25px;
}
.checkbox-text {
  font-size: 14px;
  margin: 1px;
}
.box-text {
  margin-top: 35px;
  margin-bottom: 18px;
}

.label {
  font-size: 14px;
  font-weight: 600;
}
.home-image {
  width: 100%;
  height: 660px;
  margin-bottom: 28px;
}
.cust-btn {
  color: white;
  background-color: hsl(322, 96%, 56%);
  width: 150px;
  height: 35px;
  margin-top: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 8px;
}
.wel-text {
  color: black;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.warn {
  color: red;
  font-size: 10px;
}
.signIn-heading {
  color: black;
  font-family: "Roboto";
  font-weight: bold;
  margin-bottom: 20px;
}

.con {
  background-color: hsl(0, 14%, 90%);
}
